
<div class="jumbotron">
    <ui-accordions>
        <ui-accordion title="Accordion1">
            QuerySelector-- Retorna o primeiro elemento dentro do documento que corresponde ao seletor específico ou grupo de seletores
            Sintaxe element = document.querySelector(selectors);					
        </ui-accordion>
        
        <ui-accordion title="Accordion2">	
            QuerySelectorAll-- retona um NodeList estático representando uma lista de elementos do documento que correspondem ao grupo especificado de seletores.
            Sintaxe: elementList = parentNode .querySelectorAll ( seletores );
        </ui-accordion>
    </ui-accordions>	
    
    
    <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?"/>
    <table ng-show="contatos.length > 0" class="table table-striped">
        <tr>
            <th></th>
            <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
            <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
            <th>Operadora</th>
            <th>Preço</th>
            <th>Data</th>
        </tr>
        <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
            <td><input type="checkbox" ng-model="contato.selecionado"/></td>
            <td>{{::contato.nome | name | ellipsis}}</td>
            <td>{{::contato.telefone}}</td>
            <td>{{::contato.operadora.nome | lowercase}}</td>
            <td>{{::contato.operadora.precoComImposto | currency}}</td>
            <td>{{::contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
        </tr>
    </table>
    <hr/>
    <a class="btn btn-primary btn-block" href="#/novoContato">Novo Contato</a>
    <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contatos</button>
</div>